version: "3.9"

services:

  react-frontend:
    build: ./nodePackages/device-mgr-ui
    restart: always
    environment:
      NODE_ENV: production
    ports:
      - "3000:80"
    volumes:
      - ./config/config.ini:/app/config.ini:ro
    depends_on:
      - websocket-service
      - php-node-service

  device-manager-service:
    build: ./deviceNodeServer/DeviceMainNodeServer/DeviceManager/
    restart: always
    environment:
      DB_HOST: nodes-db
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: /run/secrets/db_user_password
      DB_NAME: ${DB_NAME}
      DEVICE_MANAGER_SERVER_PATH: ${DEVICE_MANAGER_SERVER_PATH}
      ADD_DEVICES_TIME_POLL: ${ADD_DEVICES_TIME_POLL}
    volumes:
      - ./deviceNodeServer/DeviceMainNodeServer/config.ini:/app/config.ini:ro # <---- outdated way
    secrets:
      - db_user_password
    depends_on:
      - nodes-db
      - mqtt-broker

  node-device-manager-service:
    build: ./deviceNodeServer/DeviceMainNodeServer/NodeDeviceManager/
    restart: always
    environment:
      DB_HOST: nodes-db
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: /run/secrets/db_user_password
      DB_NAME: ${DB_NAME}
      SEARCH_DEVICES_PERIOD: ${SEARCH_DEVICES_PERIOD}
    volumes:
      - ./deviceNodeServer/DeviceMainNodeServer/config.ini:/app/config.ini:ro # <---- outdated way
    secrets:
      - db_user_password
    depends_on:
      - nodes-db
      - mqtt-broker

  telegram-executor-service:
    build: ./deviceNodeServer/DeviceMainNodeServer/TelegramCommandExecutor/
    restart: always
    environment:
      DB_HOST: nodes-db
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: /run/secrets/db_user_password
      DB_NAME: ${DB_NAME}
      WEBSOCKET_PORT: ${WEBSOCKET_PORT}
      DEVICE_MANAGER_LOCAL_CONN: ${DEVICE_MANAGER_LOCAL_CONN}
      VIDEO_HANDLER_LOCAL_CONN: ${VIDEO_HANDLER_LOCAL_CONN}
    volumes:
      - ./deviceNodeServer/DeviceMainNodeServer/config.ini:/app/config.ini:ro # <---- outdated way
    secrets:
      - db_user_password
    depends_on:
      - device-manager-service
      - video-composer-service

  video-composer-service:
    build: ./deviceNodeServer/DeviceMainNodeServer/VideoHandler/
    restart: always
    environment:
      DB_HOST: nodes-db
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: /run/secrets/db_user_password
      DB_NAME: ${DB_NAME}
      VIDEO_HANDLER_SERVER_PATH: ${VIDEO_HANDLER_SERVER_PATH}
      VIDEO_SEED_PORT: ${VIDEO_SEED_PORT}
    volumes:
      - ./deviceNodeServer/DeviceMainNodeServer/config.ini:/app/config.ini:ro # <---- outdated way
    secrets:
      - db_user_password
    ports:
      - "${VIDEO_SEED_PORT}:${VIDEO_SEED_PORT}"
    depends_on:
      - nodes-db
      - mqtt-broker

  websocket-service:
    build: ./deviceNodeServer/DeviceMainNodeServer/WSocketServerManager/
    restart: always
    environment:
      DB_HOST: nodes-db
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: /run/secrets/db_user_password
      DB_NAME: ${DB_NAME}
      WEBSOCKET_PORT: ${WEBSOCKET_PORT}
      DEVICE_MANAGER_LOCAL_CONN: ${DEVICE_MANAGER_LOCAL_CONN}
    volumes:
      - ./deviceNodeServer/DeviceMainNodeServer/config.ini:/app/config.ini:ro # <---- outdated way
    secrets:
      - db_user_password
    ports:
      - "${WEBSOCKET_PORT}:${WEBSOCKET_PORT}"
    depends_on:
      - device-manager-service

  php-node-service:
    build: ./phpWebApp
    restart: always
    environment:
      DB_HOST: nodes-db
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: /run/secrets/db_user_password
      DB_NAME: ${DB_NAME}
    volumes:
      - ./config/config.ini:/var/www/html/config.ini:ro
    secrets:
      - db_user_password
    ports:
      - "${PHP_PORT}:80"
    depends_on:
      - nodes-db

  php-ota-service:
    build: ./phpMpyOta
    restart: always
    environment:
    volumes:
      - ./config/config.ini:/var/www/html/config.ini:ro
    secrets:
    ports:
      - "${PHP_OTA_PORT}:80"
    depends_on:

  nodes-db:
    image: mariadb:10.11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD_FILE: /run/secrets/db_user_password
    volumes:
      - db_data:/var/lib/mysql
      - ./sql/nodeServerModel.sql:/docker-entrypoint-initdb.d/nodeServerModel.sql:ro
      - ./sql/nodeServerSeeds.sql:/docker-entrypoint-initdb.d/nodeServerSeeds.sql:ro
    secrets:
      - db_root_password
      - db_user_password
    ports:
      - "3306:3306"

  mqtt-broker:
    image: eclipse-mosquitto:2.0
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

volumes:
  db_data:

secrets:
  db_root_password:
    file: ./secrets/db_root_password.txt
  db_user_password:
    file: ./secrets/db_user_password.txt
